@media (max-width: 767px) {

    .container {
        width: 90vw;
        max-width: 350px;
        padding: 25px 20px;
    }

    .title {
        font-size: 1.9rem;
    }

    .input > label {
        font-size: 1.1rem;
    }

    .input > input {
        height: 55px;
        font-size: 1.2rem;
    }

    button {
        font-size: 1.2rem;
        height: 55px;
    }

    .result {
        font-size: 1rem;
        min-height: 70px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {

    body {
        background: url(../images/background01.jpg) var(--cor2) no-repeat center center fixed;
        background-size: cover;
    }

    .container {
        width: 600px;
        padding: 40px 30px;
    }

    .title {
        font-size: 2.3rem;
    }

    .input > input {
        height: 70px;
        font-size: 1.4rem;
    }

    .input > label {
        font-size: 1.6rem;
    }

    button {
        font-size: 1.5rem;
        height: 90px;
    }

    .result {
        font-size: 1.4rem;
        min-height: 120px;
    }
}

@media (min-width: 1280px) {

    body {
        background: url(../images/background03.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .container {
        width: 600px;
        padding: 40px 35px;
    }

    .title {
        font-size: 2rem;
    }

    .input > input {
        height: 60px;
        font-size: 1.3rem;
    }

    button {
        font-size: 1.3rem;
        height: 70px;
    }

    .result {
        font-size: 1.3rem;
        min-height: 120px;
    }
}
