@media (min-width: 360px) and (max-width: 767px) {
    .container {
        min-width: 320px;
        max-height: 480px;
    }

    .title {
        font-size: 2rem;
    }

    .input {
        height: 80px;;
    }

    .input > label {
        font-size: 1.2rem;
    }

    button {
        font-size: 1.2rem;
        height: 350px;
    }

    .result {
        font-size: 1rem;
        height: 450px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    body {
    background: url(../images/background01.jpg) var(--cor2) no-repeat center center fixed;
    background-size: cover;
    }

    .container {
        width: 600px;
        height: 730px;
    }

    .title {
    font-size: 2.5rem;
    }

    .input {
        font-size: 2;
        padding: 10px;
        height: auto;
    }

    .input > input {
        height: 80px;
        font-size: 1.5rem;
    }

    .input > label {
        font-size: 2rem;
        font-weight: 600;
    }

    button {
        font-size: 1.8rem;
        height: 130px;
    }

    .result {
        font-size: 1.8rem;
        height: 450px;
    }
}

@media (min-width: 1280px) {
    body {
        background: url(../images/background03.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .container {
        width: 600px;
        height: 550px;
    }

    .title {
        font-size: 1.8rem;
    }

    .input > input {
        height: 60px;
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
        height: 120px;
    }

    .result {
        font-size: 1.5rem;
        height: 200px;
    }
}